{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Next Builds plugin for Craft CMS 3.x
 *
 * Next Builds Settings.twig
 * @package   NextBuilds
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("lsst\\nextbuilds\\assetbundles\\nextbuilds\\NextBuildsAsset") %}

{{ forms.autosuggestField({
    first: true,
    label: "Next.js API Base URL",
    name: 'nextApiBaseUrl',
    value: settings.nextApiBaseUrl,
    suggestEnvVars: true
}) }}

{{ forms.autosuggestField({
    label: "Next.js API Secret Token",
    name: 'nextSecretToken',
    value: settings.nextSecretToken,
    suggestEnvVars: true
}) }}

{% if cdn_determined_from_env %}
    {% if cdn_enabled_from_env %}
        <input type="checkbox" name="enableCDNCacheInvalidation" value="1" checked disabled>
        <label style="color: grey" for="enableCDNCacheInvalidation">Enable Google Cloud CDN Cache Invalidation on Save (currently set by env)</label>
    {% else %}
        <input type="checkbox" name="enableCDNCacheInvalidation" value="0" disabled>
        <label style="color: grey" for="enableCDNCacheInvalidation">Enable Google Cloud CDN Cache Invalidation on Save (currently set by env)</label>
    {% endif %}
{% else %}
    {{ forms.checkbox({
        label: "Enable Google Cloud CDN Cache Invalidation on Save",
        name: 'enableCDNCacheInvalidation',
        value: true,
        checked: settings.enableCDNCacheInvalidation ?? false,
    }) }}
{% endif %}
<div class="field">
    <div class="heading">
        <label>Enabled Sections</label>

        <div class="instructions">
            <p>Choose which sections should have incremental page builds.</p>
        </div>
    </div>
    {% for section in craft.app.sections.allSections %}
        <div>
            {{ forms.checkbox({
                label: section.name,
                name: 'activeSections[' ~ section.handle ~ ']',
                value: true,
                checked: settings.activeSections[section.handle] ?? false,
            }) }}
        </div>
    {% endfor %}
</div>

